@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Codystar:wght@300&family=Elsie+Swash+Caps&family=Monoton&family=Righteous&display=swap");
* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --font-title: "Elsie Swash Caps", cursive;
  --font-subtitle: "Codystar", cursive;
  --font-content: "Righteous", cursive;

  --title-color: #fcc222;
  --subtitle-color: #f5f8f1;
  --details-color: #fe6c0b;
  --background-color: #060b0e;
}

body {
  font-family: var(--font-content);
  background-color: var(--background-color);
  overflow-x: hidden;
}

.app {
  padding: 4rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(
      70deg,
      var(--background-color) 0%,
      rgba(0, 0, 0, 0.26) 100%
    ),
    url("./assets/wallpaperMovieland.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

nav {
  width: 100vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: var(--font-title);
  font-size: 6rem;
  letter-spacing: 0.9px;
  color: var(--title-color);
  background: linear-gradient(
    90deg,
    var(--details-color) 0%,
    var(--title-color) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}

h2 {
  font-size: 2.5rem;
  font-family: var(--font-subtitle);
  color: var(--subtitle-color);
}

.search {
  width: 71%;
  margin: 4rem 0 2rem;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1.5rem 1.75rem;
  border-radius: 3rem;
  background: var(--subtitle-color);
}

.search input {
  flex: 1;
  border: none;
  font-size: 1.5rem;
  font-family: var(--font-content);
  font-weight: 500;
  padding-right: 1rem;

  outline: none;
  color: var(--details-color);
}

.search img {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

/* .search button {
  padding: 20px 40px;
  border-radius: 0.5rem;
  margin-left: 15px;
  color: #a1a1a1;
  font-family: var(--font-raleway);
  font-weight: 900;
  letter-spacing: 0.75px;
  font-size: 1.25rem;
  cursor: pointer;
  background: #1f2123;
  -webkit-box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
  box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
} */

.empty {
  width: 100%;
  margin-top: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.empty h2 {
  font-size: 1.25rem;
  color: var(--subtitle-color);
  font-family: var(--font-content);
}

.container {
  width: 100%;
  margin-top: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.movie {
  width: 310px;
  height: 460px;
  margin: 1.5rem;

  position: relative;
  border-radius: 12px;
  overflow: hidden;
  border: none;

  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  box-shadow: 0px 13px 10px -7px var(--title-color);
}

.movie div:nth-of-type(1) {
  position: absolute;
  padding: 16px;
  width: 100%;
  opacity: 0;
  top: 0;
  color: var(--title-color);
}

.movie:hover {
  box-shadow: 0px 30px 18px -8px var(--details-color);
  transform: scale(1.05, 1.05);
  cursor: pointer;
}

.movie div:nth-of-type(2) {
  width: 100%;
  height: 100%;
}

.movie div:nth-of-type(2) img {
  height: 100%;
  width: 100%;
}

.movie div:nth-of-type(3) {
  z-index: 2;
  background-color: var(--background-color);
  padding: 16px 24px 24px 24px;

  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.movie div:nth-of-type(3) span {
  font-family: var(--font-content);
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #f0f0f0;
}

.movie div:nth-of-type(3) h3 {
  margin-top: 5px;
  font-family: var(--font-content);
  color: #f9d3b4;
}

.movie:hover div:nth-of-type(2) {
  height: 100%;
  opacity: 0.3;
}

.movie:hover div:nth-of-type(3) {
  background-color: transparent;
}

.movie:hover div:nth-of-type(1) {
  opacity: 1;
}

footer {
  width: fit-content;
  height: 100%;
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 83px;
  background: var(--subtitle-color);
  box-shadow: 5px 5px 32px var(--background-color), -5px -5px 32px var(--title-color);
}

a {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
}

a img {
  width: 4rem;
}
@media screen and (max-width: 900px) {
  .app {
    padding: 4rem 2rem;
  }

  nav {
    width: 100%;
    height: 100%;
    text-align: center;
  }

  h1 {
    font-size: 3rem;
    padding-left: 20px;
  }

  h2 {
    font-size: 1.5rem;
    padding-top: 20px;
    padding-left: 20px;
  }

  .search {
    padding: 1rem 1.75rem;
    width: 100%;
  }

  .search input {
    font-size: 1rem;
  }

  .search img {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 400px) {
  .app {
    padding: 4rem 1rem;
  }

  nav {
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .search {
    width: 100%;
    margin-right: auto;
  }

  h1 {
    font-size: 3rem;
    padding-left: 20px;
  }

  h2 {
    font-size: 1.5rem;
    padding-top: 20px;
    padding-left: 20px;
  }

  .container {
    margin-top: 2rem;
  }

  .movie {
    width: "100%";
    margin: 1rem;
  }
}
